.askme-wrapper {
    display: grid;
    gap: .5em;
    grid-template-columns: auto auto;
}

.askme-wrapper p {
    padding: 0;
    margin: 0 0 0 0;
}

.askme-wrapper p textarea,
.askme-wrapper p input[type=text],
.askme-wrapper p input[type=email] {
    width:100%;
    box-sizing: border-box;
}

.askme-wrapper input[type=submit] {
    grid-column-start:2;
}

.askme-wrapper *:required {
    border: green 2px solid;
}
